.no-scroll {
    overflow: hidden;
}
.cart-section {
    margin-top: 56px;
    margin-bottom: 156px;

    .cart__table {
        margin-bottom: 90px;

        .cart__table-title {
            padding-bottom: 24px;
            border-bottom: 2px solid #F6F7F8;
            margin-bottom: 40px;
            display: grid;
            grid-template-columns: 6fr 2fr 2fr 1fr;

            h2 {
                font-family: Poppins500;
                font-size: 20px;
                line-height: 30px;
                color: #22262A;
                text-wrap: nowrap;
            }
        }

        .cart__table-products {
            display: flex;
            flex-direction: column;
            gap: 56px;

            .cart__table-product {
                display: grid;
                align-items: center;
                grid-template-columns: 6fr 2fr 2fr 1fr;
                padding-bottom: 56px;
                border-bottom: 2px solid #F6F7F8;

                .cart__table-product__title {
                    display: flex;
                    align-items: center;
                    gap: 48px;

                    button {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background: #FFF7F8;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            color: #FF4252;
                            font-size: 16px;
                        }
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: 28px;

                        article {
                            width: 136px;
                            height: 94px;

                            img {
                                width: 136px;
                                height: 94px;
                                object-fit: contain;
                                border-radius: 7px;
                            }
                        }


                        h3 {
                            max-width: 352px;
                            font-family: Poppins;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 27px;
                            color: #262626;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                    }
                }

                p {
                    display: block;
                    color: #262626;
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    text-align: left;

                }

                .cart__table-product__qty {
                    width: 124px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // gap: 24px;
                    background: #F6F7F8;
                    border-radius: 6px;
                    height: 46px;

                    button {
                        color: #33A0FF;
                        font-size: 20px;
                        user-select: none;

                    }

                    span {
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        user-select: none;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 21.92px;
                        color: #262626;
                    }
                }
            }
        }
    }

    .cart__shopping {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;

        .cart__shopping-vaucher {
            display: flex;
            max-width: 370px;
            width: 100%;
            height: 60px;

            input {
                width: 100%;
                border: 2px solid #F1F3F4;
                padding: 0 20px;
                border-radius: 6px 0 0 6px;
                transition: .1s;

                &:focus {
                    border-color: #33A0FF;
                }
            }

            button {
                background: #33A0FF;
                padding: 0 21px;
                font-family: Poppins500;
                font-size: 16px;
                line-height: 27px;
                color: white;
                border-radius: 0 6px 6px 0;

                &:hover {
                    opacity: .9
                }

            }
        }

        .cart__shopping-total {
            max-width: 380px;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding-bottom: 24px;
                border-bottom: 2px solid #F6F7F8;
                margin-bottom: 28px;

                li {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    color: #262626;
                }
            }

            div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 24px;

                h3 {
                    font-family: Poppins500;
                    font-size: 26px;
                    line-height: 45px;
                    color: #22262A;
                }
            }

            button {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #33A0FF;
                border-radius: 6px;
                color: white;
                font-family: Poppins500;
                font-size: 16px;
                line-height: 27px;
                transition: .2s;

                &:hover {
                    opacity: .9
                }

                &:active {
                    scale: .99;
                }

            }
        }
    }
}     
.cart__table {
    .cart__table-products {
        .cart__table-product {
            grid-template-columns: 8fr 3fr 1fr;

            .cart__table-product__price {
                display: none;
            }
        }
    }
}

@media (max-width: 1164px) {
    .cart-section {
        .cart__table {
            .cart__table-title {
                display: none;
            }

            .cart__table-products {
                gap: 20px;

                .cart__table-product {
                    border: 2px solid #F6F7F8;
                    padding: 48px 0;
                    padding-left: 30px;
                    border-radius: 8px;

                    .cart__table-product__title {
                        gap: 24px !important;

                        div {
                            gap: 14px;

                            h3 {
                                max-width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 954px) {
    .cart-section {
        .cart__table {
            .cart__table-products {
                .cart__table-product {
                    padding-right: 16px;
                    grid-template-columns: 8fr 3fr 1fr;

                    .cart__table-product__price {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 822px) {
    .cart-section {
        .cart__shopping {
            .cart__shopping-total {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 741px) {
    .cart-section {
        .cart__shopping-vaucher {
            max-width: 1000px !important;
        }
        .cart__shopping {
            .cart__shopping-total {
                max-width: 1000px;
            }
        }
    }
}

@media (max-width: 780px) {
    .cart-section {
        .cart__table {
            .cart__table-products {
                .cart__table-product {
                    padding-left: 0;
                    position: relative;

                    .cart__table-product__title {
                        button {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                        }
                    }

                    .cart__table-product__price {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 672px) {
    .cart-section {
        .cart__table {
            .cart__table-products {
                .cart__table-product {
                    grid-template-columns: 8fr;
                    padding: 16px;

                    .cart__table-product__title {
                        div {
                            align-items: start;

                            article {
                                height: 120px;

                                img {
                                    height: 120px;
                                }
                            }

                            h3 {
                                font-size: 16px;
                            }
                        }
                    }

                    p {
                        position: absolute;
                        bottom: 16px;
                        right: 16px;
                    }

                    .cart__table-product__qty {
                        position: absolute;
                        bottom: 16px;
                        left: 168px;
                    }
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .cart-section {
        .cart__table {
            .cart__table-products {
                .cart__table-product {
                    .cart__table-product__title {
                        div {
                            align-items: start;

                            article {
                                height: 100px;
                                width: 76px;

                                img {
                                    width: 70px;
                                    height: 100px;
                                }
                            }

                            h3 {
                                font-size: 14px;
                                max-width: 160px;
                            }
                        }
                    }

                    p {
                        position: absolute;
                        bottom: 16px;
                        font-size: 16px;
                        right: 16px;
                    }

                    .cart__table-product__qty {
                        position: absolute;
                        bottom: 16px;
                        left: 106px;
                        width: 104px;
                        height: 36px;

                        span {
                            width: 46px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .cart__shopping {
            .cart__shopping-vaucher {
                height: 50px;
                button {
                    font-size: 14px;
                }
            }
            .cart__shopping-total {
                ul {
                    gap: 20px;
                    li {
                        font-size: 16px;
                    }
                }
                div {
                    h3 {
                        font-size: 20px;
                    }
                }
                button {
                    height: 50px;
                    font-size: 15px;
                }
            }
        }
    }
}