.login-section {
    margin-top: 116px;
    margin-bottom: 200px;

    &__content {
        div {
            margin: 0 auto;
            max-width: 600px;
            display: flex;
            gap: 8px;
            flex-direction: column;

            label {
                font-family: Raleway500;
                font-size: 14px;
                line-height: 16.44px;
                color: #373737;
                cursor: pointer;
            }

            input {
                width: 100%;
                border-radius: 8px;
                border: 1px solid #969393;
                background: transparent;
                font-family: Raleway500;
                font-size: 16px;
                line-height: 18.78px;
                color: #373737;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 24px;
                margin-bottom: 28px;

                &:focus {
                    border: 1px solid #33A0FF;
                }
            }

            textarea {
                border-radius: 0px 4px 4px 0px;
                resize: none;
                outline: none;
                padding: 20px 28px;
                border: 1px solid #969393;
                font-size: 14px;

                &:focus {
                    border: 1px solid #33A0FF;
                }

            }
        }

        article {
            margin: 0 auto;
            margin-top: 14px;
            max-width: 600px;
            display: flex;
            justify-content: center;

            button {
                box-shadow: 0px 10px 40px 0px #F8A17033;
                height: 52px;
                width: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #40BFFF;
                color: white;
                font-family: Poppins500;
                font-size: 16px;
                line-height: 30px;
                border-radius: 8px;
                transition: .2s;

                &:hover {
                    opacity: .9;
                }

                &:disabled {
                    cursor: default;
                    opacity: .5;
                }

            }
        }
    }
}