.payment__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0006;
    z-index: 10;
    backdrop-filter: blur(3px);
}

.payment {


    max-width: 1000px;
    width: 90%;
    background: #fff;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 68px 82px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    button {
        align-self: flex-end;
        opacity: 0.8;
        transition: .1;

        &:hover {
            opacity: 1;
            scale: .98;
        }

        svg {
            color: #40BFFF;
            font-size: 28px;
        }
    }

    h2 {
        margin-top: 12px;
        font-family: Raleway600;
        font-size: 32px;
        line-height: 37.57px;
        color: #40BFFF;
        margin-bottom: 84px;
        text-align: center;
    }

    .payment__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 32px;

        input {
            width: 380px;
            height: 50px;
            background: #F5F5F5;
            font-size: 16px;
            border-radius: 8px;
            padding: 0 14px;
        }
    }

    .payment__area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        input {
            width: 380px;
            height: 50px;
            background: #F5F5F5;
            border-radius: 8px;
            font-size: 16px;
            padding: 0 14px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 28px;

            textarea {
                resize: none;
                border-radius: 8px;
                background: #F5F5F5;
                outline: none;
                padding: 14px 14px;
                border: 0;
            }
        }
    }

    .payment__method {
        max-width: 380px;
        width: 100%;
        position: absolute;
        top: 396px;

        h3 {
            font-family: Raleway600;
            font-size: 20px;
            line-height: 23.48px;
            color: #40BFFF;
            margin-bottom: 14px;
        }

        label {
            display: flex;
            height: 56px;
            padding:  0 16px;
            justify-content: space-between;
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                gap: 16px;
                font-family: Poppins700;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.5px;
                color: #223263;

                svg {
                    color: #40BFFF;
                    font-size: 20px;
                }
            }
        }


    }

    .payment-btn {
        display: flex;
        justify-content: center;
        margin-top: 120px;

        button {
            border-radius: 8px;
            background: #33A0FF;
            box-shadow: 0px 10px 40px 0px #F8A17033;

            width: 300px;
            height: 60px;
            font-family: Poppins600;
            font-size: 16px;
            line-height: 32.74px;
            letter-spacing: -0.02em;
            text-align: center;
            color: white;

        }
    }
}

@media (max-width: 1062px) {
    .payment {
        height: 600px;
        overflow-y: auto;
        padding: 40px;

        h2 {
            margin-bottom: 32px;
        }

        .payment__inputs {
            input {
                width: 100%;
            }
        }

        .payment__area {
            input {
                width: 100%;
            }

            div {
                width: 100%;
            }
        }

        .payment__method {
            position: static;
            margin-top: 32px;
            max-width: 1000px;
            width: 100%;
        }

        .payment-btn {
            margin-top: 32px;
        }
    }
}

@media (max-width: 522px) {
    .payment {
        h2 {
            margin-bottom: 32px;
            font-size: 24px;
        }
    }
}