.contact-page {
    .innerNavbar {
        .first-slash {
            display: none !important;
        }
        .innerNavbar__link {
            display: none !important;
        }
    }
}

.register-page {
    .innerNavbar {
        .first-slash {
            display: none !important;
        }
        .innerNavbar__link {
            display: none !important;
        }
    }
}

.admin-page {
    .innerNavbar {
        .first-slash {
            display: none !important;
        }
        .innerNavbar__link {
            display: none !important;
        }
    }
}

.wishlist-page {
    .innerNavbar {
        .first-slash {
            display: none !important;
        }
        .innerNavbar__link {
            display: none !important;
        }
    }
}

.cart-page {
    .innerNavbar {
        .first-slash {
            display: none !important;
        }
        .innerNavbar__link {
            display: none !important;
        }
    }
}