@use "../abstracts" as *;

.wishlist-page {

    h2,
    ul,
    .see-more {
        display: none !important;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        margin-top: 45px;
        font-family: Poppins500;
        font-size: 32px;
        line-height: 52.5px;

    }

    .products__cards {
        justify-content: start !important;
    }

    @media (max-width:672px) {
        .products__cards {
            justify-content: center !important;
        }
    }
}

@media (max-width: 824px) {
    .empty {
        img {
            width: 100%;
        }
    }
}